body{
    color: #fff;
    background: url(https://static.wikia.nocookie.net/gtawiki/images/4/46/OldVenturasStrip-GTASA.png/revision/latest?cb=20190607210327);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    flex-direction: column;
}
html{overflow: hidden;}
