body{
    color: #fff;
    background: url(OldVenturasStrip-GTASA.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    flex-direction: column;
}
html{overflow: hidden;}
